header {   
    height: 20vh;
    min-height: 6rem;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

header img {
    height: 2.4rem;
}

#filter {
    width: 36rem;
    display: flex;
    flex-direction: column;
}

#filterTitle {
    height: 1.6rem;
    background-color: rgba(240, 240, 240);
    border-radius: 8px;
    border: none
}

#filterPrice {
    display: flex;
    width: 100%;
}

#filterSort {
    height: 2.2rem;
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
  
}

#filterValues {
    height: 1.6rem;
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 10px 10px;

}

.buttonKit {
    height: 2rem;
    width: 28rem;
    display: flex;
    justify-content: space-around;

}
.button {
    height: 1.4rem;
    width: 8rem;
    background-color: white;
    border: solid #0DB0BA 2px;
    border-radius: 8px;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0DB0BA;
}
.button:hover {
    background-color:#0DB0BA;
    color:  white;
}

.button2 {
    height: 1.4rem;
    width: 8rem;
    background-color:#0DB0BA;
    border: solid #0DB0BA 2px;
    border-radius: 8px;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.button2:hover {
    background-color: white;
    color: #0DB0BA;
}

#changePage {
    color: #0DB0BA;
}



