@import "reset.css";
@import "footer.css";
@import "header.css";

.App {
  text-align: center;
}

/* ---GENERAL--- */
.display {
  display: inherit
}
.hidden {
  display: none;
}

/* ---TEXT--- */
h4 {
  font-size: 12px;
}