/* @import "reset.css"; */
@import "./CSS/reset.scss";
/* @import "footer.css"; */
@import "./CSS/footer.scss";
/* @import "forms.css"; */
@import "./CSS/forms.scss";
/* @import "header.css"; */
@import "./CSS/header.scss";
@import "./CSS/home.scss";
@import "./CSS/offers.scss";




.App {
  text-align: center;

}

/* ---GENERAL--- */
.display {
  display: inherit
}
.hidden {
  display: none;
}
.fullPage {
  /* background-color: blue; */
}

/* ---TEXT--- */
h1 {
  font-size: 44px;
  background-color: rgba(200, 10, 10, 0.1);
}
h4 {
  font-size: 12px;
}

