@import "footer.css";

.App {
  text-align: center;
}

header {
  background-color: burlywood;
  display: flex; 
  align-items: center;
  justify-content: space-around;
}

.display {
  display: inherit
}

.hidden {
  display: none;
}